.clipboard-icon {
  background: url('assets/icons/clipboard.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.loading-gear-icon {
  background: url('assets/icons/loading-gear.svg') no-repeat center;
  background-size: contain;
  display: block;
}

